body, html {
    height: 100%;
    margin: 1;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    min-height: 760px;
  }
  
  .top-block{
    background: linear-gradient(270deg, rgba(251,38,79,1) 79%, rgba(255,255,255,1) 92%);
    height: 99px;
    border-radius: 46.5px;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .mid-block{
    background: linear-gradient(0deg, rgba(253,232,236,1) 70%, rgba(255,255,255,1) 100%);
    flex-grow: 1;
    border-radius: 22px;
    padding: 10px;
  }

  .emb-menu{
    box-sizing: border-box;
    border-radius: 22px;
    border-image: linear-gradient(0deg, rgba(251,38,79,1) 19%, rgb(247, 228, 232) 92%) 1;
    background: linear-gradient(#FB264F, #FB264F) padding-box, linear-gradient(0deg, rgba(251,38,79,1) 19%, rgb(247, 228, 232) 92%) border-box;
    border: 4px solid transparent;
  }
  
  .bottom-block{
    background-color: #FB264F;
    height: 99px;
    margin-top: 13px;
    border-radius: 22px;
    min-height: 99px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  h1{
      margin: 0px;
  }

  top-title{
    font-size: 26px;
    font-weight: 600;
    color: #FDFFAC;
    margin: 0 auto;
  }

  .nav-button{
    font-size: 20px;
    background: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    color: #ffffff;
  }
  
  .nav-button:hover{
    color: #FDFFAC;
    transition: 0.3s;
    border-bottom: 2px solid #FDFFAC;
  }

  .nav-button-active{
    color: #FDFFAC;
    font-size: 20px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #FDFFAC;
  }

  .google-maps{
    box-sizing: border-box;
    max-width:100%;
    overflow:hidden;
    width:100%;
    height:60%;
    flex-grow: 1;
    border-radius: 22px;
    margin-bottom: 15px;
    border: solid 3px;
    border-image: linear-gradient(0deg, rgba(251,38,79,1) 19%, rgb(247, 228, 232) 92%) 1;
    background: linear-gradient(#FB264F, #FB264F) padding-box, linear-gradient(0deg, rgba(251,38,79,1) 19%, rgb(247, 228, 232) 92%) border-box;
    border: 4px solid transparent;
  }

  #google-maps-canvas{
    height:100%;
    width:100%;
    max-width:100%;
  }
  
  .maps-iframe{
    height:100%;
    width:100%;
    border:0;
  }

  #google-maps-canvas img{
    max-width:none!important;
    background:none!important;
    font-size: inherit;
    font-weight:inherit;
  }

  .phone-button{
    background-color: #FDFFAC;
    color: #FB264F;
    border: 2px solid #F1D230;
    border-color: #F1D230;
    border-radius: 11px;
    position: fixed;
    right: 1em;
    bottom: 7.3em;
    font-size: 18px;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .phone-button:hover{
    color: #FB264F;
    transition: 0.3s;
    border: 2px solid #f1ad30;
    background-color: #f8f29c;
  }

  .presentation-image{
    box-sizing: border-box;
    border-radius: 22px;
    max-width: 70vh;
    border-image: linear-gradient(0deg, rgba(251,38,79,1) 19%, rgb(247, 228, 232) 92%) 1;
    background: linear-gradient(#FB264F, #FB264F) padding-box, linear-gradient(0deg, rgba(251,38,79,1) 19%, rgb(247, 228, 232) 92%) border-box;
    border: 4px solid transparent;
    }

  .yoyaku-button{
    background-color: #FB264F;
    border: 2px solid  #FDFFAC;
    color: #FDFFAC;
    border-radius: 11px;
    padding: 4px;
    font-size: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .yoyaku-button:hover{
    border: 2px solid #eef08d;
    background-color: #e22248;
    font-size: 16px;
  }

  .col-25 {
    width: 25%;
    float: left;
    margin-top: 6px;
  }
  /*This command sets the width of `<div> containing the col-75 class to a fraction of the total width of the row <div>
  */
  .col-75 {
    width: 75%;
    float: left;
    margin-top: 6px;
  }
  
  /*This command sets the width of the tag you working with
  */
  input[type = text] {
    width : 100%;
  }
  
  .row{
    margin: 30px;
  }

  /*This part ensures the text after each form element stays in place after the float command.
  */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }