body, html {
    height: 100%;
    margin: 1;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    min-height: 760px;
  }
  
  .top_block{
      background: linear-gradient(270deg, rgba(251,38,79,1) 79%, rgba(255,255,255,1) 92%);
      height: 99px;
      border-radius: 46.5px;
      display: flex;
      align-items: center;
      position: relative;
  }

  .mid_block{
      background: linear-gradient(0deg, rgba(253,232,236,1) 70%, rgba(255,255,255,1) 100%);
      flex-grow: 1;
      border-radius: 22px;
      padding: 15px;
  }
  
  .bottom_block{
      background-color: #FB264F;
      height: 99px;
      margin-top: 13px;
      border-radius: 22px;
  }
  h1{
      margin: 0px;
  }

  top-title{
    font-size: 26px;
    font-weight: 600;
    color: #FDFFAC;
    margin: 0 auto;

  }
  .bottom_block{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
  }

  button{
    font-size: 22px;
    background: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    color: #ffffff;
  }

  button:hover{
    color: #FDFFAC;
    transition: 0.3s;
    border-bottom: 2px solid #FDFFAC;
  }

  .active-page{
    color: #FDFFAC;
    border-bottom: 2px solid #FDFFAC;
  }

  .google_maps{
    max-width:100%;
    overflow:hidden;
    width:100%;
    height:60%;
    flex-grow: 1;
    border-radius: 22px;
    margin-bottom: 15px;
  }

  #google-maps-canvas{
    height:100%;
    width:100%;
    max-width:100%;
  }
  
  .maps_iframe{
    height:100%;
    width:100%;
    border:0;
  }

  #google-maps-canvas img{
    max-width:none!important;
    background:none!important;
    font-size: inherit;
    font-weight:inherit;
  }
  .phone-button{
    background-color: #FDFFAC;
    color: #FB264F;
    border: 2px solid #F1D230;
    border-color: #F1D230;
    border-radius: 11px;
    position: fixed;
    bottom: 6em;
    right: 1em;
    bottom: 7.3em;
    font-size: 18px;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .phone-button:hover{
    color: #FB264F;
    transition: 0.3s;
    border: 2px solid #F1D230;
    background-color: #fff2a6;
  }